@import url('https://fonts.googleapis.com/css2?family=Oswald');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

amplify-authenticator {
  --amplify-font-family: 'Oswald', serif !important;
  --background-color:none;
  --box-shadow:none;
  }

  :root{
    --amplify-primary-color: red;
    --amplify-primary-tint: red; 
    --amplify-primary-shade: red;
  }
